{{section.settings.custom_html }}
{% schema %}
{
  "name": "custom html",
  "settings": [
    {
      "type": "textarea",
      "id": "custom_html",
      "default": "<h2>dummy</h2>",
      "label": "Custom html"
    }
  ],
  "presets": [
  {
    "name": "custom html"
  }
]
}
{% endschema %}
