<style>
  .slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }

  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }

  .dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .testimonial_img img.image-section-two.active {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Add an italic font style to all quotes */
  q {
    font-style: italic;
  }

  /* Add a blue color to the author */
  .author {
    color: cornflowerblue;
  }
</style>
<div class="slideshow-container">
    {% for block in section.blocks %}
        <div class="mySlides" style="display:{% if forloop.index == 1 %}block{% else %}none{% endif %}">
           <div class="testimonial_img"> <img src="{{ block.settings.image | img_url: 'master'}}" width="100" height="100" class="image-section-two {% if forloop.index == 1 %}active{% endif %}"></div>
            <q>{{ block.settings.title }} </q>
            <p class="author">- {{ block.settings.author_title }}</p>
        </div>
    {% endfor %}

  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>
</div>

<div class="dot-container">
    {% for block in section.blocks %}
        <span class="dot {% if forloop.index == 1 %}active{% else %}{% endif %}" onclick="currentSlide({{ forloop.index }})"></span>
    {% endfor %}
</div>

{% schema %}
{
  "name": "section-four",
  "settings": [],
  "blocks": [
    {
      "type": "column",
      "name": "column images text",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Add a title or tagline"
        },
        {
            "type": "text",
            "id": "author_title",
            "label": "Author name",
            "default": "Add a title or tagline"
          }
      ]
    }
  ],
  "presets": [
    {
      "name": "section-four",
      "blocks": [
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}

<script>
  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides((slideIndex += n));
  }

  function currentSlide(n) {
    showSlides((slideIndex = n));
  }

    setInterval(()=>{
        plusSlides(1);
    }, 2000)

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName('mySlides');
    var dots = document.getElementsByClassName('dot');
    if (n > slides.length) {
      slideIndex = 1;
    }
    if (n < 1) {
      slideIndex = slides.length;
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = 'none';
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(' active', '');
    }
    slides[slideIndex - 1].style.display = 'block';
    dots[slideIndex - 1].className += ' active';
  }
</script>
