<div class="page-width">
  <div class="grid gap grid--3-col">
     {% for block in section.blocks %}
       {% if forloop.index == 2 or forloop.index == 5 or forloop.index == 8 %}
      <div class="col-2">
          2
      </div>
    {% else %}
     <div class="col-4">
          1
      </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "section-one",
    "settings": [],
    "blocks":[
      {
        "type": "column",
        "name":"block1",
        "settings":[
          {
            "type": "text",
            "id": "heading",
            "default": "Heading",
            "label": "Heading" 
          }
        ]
      }
    ],
    "presets": [
    {
      "name": "section-one",
      "blocks": [
        {
          "type": "column"
        }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}