.gap{
    gap: 0px !important;
  }
  .col-1{
     width: 100%!important;
  }
  .col-2{
    width: 50%!important;
  }
  .col-3{
    width: 33.33%!important;
  }
  .col-4{
    width: 25%!important;
  }
  .col-5{
    width: 20%!important;
  }
  .col-6{
    width: 16.66%!important;
  }
  @media (max-width:768px){
    .col-1--mobile{
      width: 100%!important;
    }
    .col-2--mobile{
      width: 50%!important;
    }
    .col-3--mobile{
      width: 33.33%!important;
    }
    .col-4--mobile{
      width: 25%!important;
    }
    .col-5--mobile{
      width: 20%!important;
    }
    .col-6--mobile{
      width: 16.66%!important;
    }
  }



  /* After Before line & Circle  */
  /* .image-with-text.image-with-text--no-overlap.page-width.isolate.collapse-corners.section-template--16037121097917__16b4480b-22dd-4653-9f01-11bbfefc03e7-padding:after {
    content: "";
    position: absolute;
    top: 70%;
    height: 1px;
    background: #fff;
    left: 9%;
    width: 55%;
    z-index: 99999;
    transition: 2s;
}
.image-with-text.image-with-text--no-overlap.page-width.isolate.collapse-corners.section-template--16037121097917__16b4480b-22dd-4653-9f01-11bbfefc03e7-padding:before {
    content: "";
    position: absolute;
    top: 67%;
    height: 30px;
    width: 30px;
    background: #ffffff7d;
    border: 1px solid #fff;
    left: 9%;
    z-index: 99999;
    border-radius: 50%;
    transition: 1.5s;
}
.image-with-text.image-with-text--no-overlap.page-width.isolate.collapse-corners.section-template--16037121097917__16b4480b-22dd-4653-9f01-11bbfefc03e7-padding:hover:before {
  left: 63%
} */