.gap{
    gap: 0px !important;
  }
  .col-1{
     width: 100%!important;
  }
  .col-2{
    width: 50%!important;
  }
  .col-3{
    width: 33.33%!important;
  }
  .col-4{
    width: 25%!important;
  }
  .col-5{
    width: 20%!important;
  }
  .col-6{
    width: 16.66%!important;
  }
  @media (max-width:768px){
    .col-1--mobile{
      width: 100%!important;
    }
    .col-2--mobile{
      width: 50%!important;
    }
    .col-3--mobile{
      width: 33.33%!important;
    }
    .col-4--mobile{
      width: 25%!important;
    }
    .col-5--mobile{
      width: 20%!important;
    }
    .col-6--mobile{
      width: 16.66%!important;
    }
  }